@model Recipient

@{
    bool isEdit = Model?.RecipientId > 0;
}

<h1>@(isEdit ? "Redigera Mottagare" : "Skapa Mottagare")</h1>

<form asp-action="@(isEdit ? "EditRecipient" : "CreateRecipient")" method="post">
    <div class="form-group">
        <input asp-for="RecipientId" class="form-control" hidden />

        <label>E-post</label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Namn</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Typ</label>
        <select asp-for="Type" class="form-control" required>
            <option value="">Välj typ</option>
            <option value="Privatperson">Privatperson</option>
            <option value="Företag">Företag</option>
            <option value="Offentlig verksamhet">Offentlig verksamhet</option>
        </select>
    </div>
    <div class="form-group">
        <label>Personnummer</label>
        <input asp-for="PersonNmr" class="form-control" />
    </div>
    <div class="form-group">
        <label>Organisationsnummer</label>
        <input asp-for="OrgNmr" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kundnummer</label>
        <input asp-for="CustomerNmr" class="form-control" />
    </div>
    <div class="form-group">
        <label>Anställningsnummer</label>
        <input asp-for="EmployeeNmr" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">@((isEdit ? "Uppdatera" : "Skapa"))</button>
</form>
